.jumbotron {
      padding-top: 3%;
      padding-bottom: 3%;
    }

.background-of-page{
  background-image: linear-gradient(to right, rgba(220, 245, 247 ,0), rgba(220, 245, 247 ,0), rgba(220, 245, 247 ,1));
  z-index: -1;

}
/* travellers */
#number-of-adults, #number-of-child, #number-of-infants{
  width: 2em;
}
#searchbutton-div{
  position:absolute;
  left:400px;
  width: 100px;
  height: 100px;
  top: 620px;
  background-image: url("arrow-for-search.png");
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}
#searchbutton-div:hover {
  width: 480px;
}
#searchbutton{
    position:absolute;
    left:7px;
    top: 20px;
    z-index: 10;
    font-weight: bolder;
}
#bubbles{
  position:absolute;
  left:380px;
  top: 605px;
  width: 150px;
}
#search{
  position:absolute;
  left:515px;
  top: 635px;
  width: 80px;
  height:80px;
  z-index:10;
}
#cloud-1{
  position: absolute;
  top:65px;
  left: 1093px;
  z-index: -1;
}
#cloud-2{
  position: absolute;
  top:70px;
  left: 1175px;
  z-index: -1;
  width: 90px;
}
#logout-id-2{
  position: absolute;
  top: 70px;
  left: 1175px;
}
#confirm-passenger{
  position:absolute;
  top:585px;
  left:700px;
}
#add-another-passenger{
  position:absolute;
  top:585px;
  left:850px;
  width: 250px;
}
#another-confirm-passenger{
  position: absolute;
  top: 1195px;
  left: 700px;
}
#cancel-button{
  position: absolute;
  top: 1195px;
  left: 850px;
  width: 170px;
}
/* textfields */
.totheright{
margin-left: 7%
}
.totherightside{
  margin-left: 9%
}
/* searchResults */
.to{
  margin-left: 35%
}
.whereTo{
  position:absolute;
  top:100px;
  left:400px;
}
.whereToReturn{
  position:absolute;
  top:210px;
  left:400px;
}
.to-airport{
  margin-left: 31%
}
.show-return-date{
  position:absolute;
  top:240px;
  left:400px;
}
.show-homies{
  position:absolute;
  top:100px;
  left:800px;
}
.show-cabin{
  position:absolute;
  top:130px;
  left:800px;
}
.price{
  position: absolute;
  top:200px;
  left:800px;
  font-weight: bold
}
/* Time of search resutlts */
.duration{
  position: absolute;
  top:130px;
  left:235px;
}
.duration-return{
  position: absolute;
  top:230px;
  left:235px;
}
.time-return{
  position:absolute;
  top:280px;
  left:400px;
}
/* image in searchresults */
.images{
  width: 8%;
  height: 8%;
  margin-left: 6%
}
#jal{
  width: 4%;
  height: 3%;
  margin-left: 6%
}
#cathay{
  width: 10%;
  height: 10%;
  margin-left: 6%
}
#jetstar{
  width: 14%;
  height: 11%;
    margin-left: 6%
}
.arrow, .arrow-return{
  width:2%;
  height:6%;

}
.arrow{
  position: absolute;
  top:105px;
  left:245px;
}
.arrow-return{
  position: absolute;
  top:215px;
  left:245px;
}

/* card */
.card-header{
  background-color: white
}
.card-body{
  background-color: #D6EAF8
}
.card-text{
  font-weight: bold
}

/* passenger-details */
#border-1,#border-2{
  border-style: solid;
  border-width: 2px;
  border-right-color: blue;
  border-bottom-color: blue;
}

/*Payment section*/
.payment-images{
  width: 10%;
  height: 10%;
}
#payment-first-name, #payment-last-name{
  width: 250px
}
#payment-last-name, #expiration-date{
  position: absolute;
  left: -220px
}
#cv-code{
  width: 100px
}
#payment-label-last-name, #payment-label-expiration-date{
  position: absolute;
  left: -220px
}
#credit-number{
  width: 180px
}
#expiration-date{
  width: 180px
}
#bottom-image{
  width: auto;
}

/* SUMMARY */

#summary-names, #summary-second-passenger-names{
  font-weight: bold;
}
.toast{
  position: fixed;
  top: 10px;
  right:80px;
}
#for-show{
margin-left: 5%
}
#download-it{
  margin-left: 30%
}
#summary-depart-date-label, #summary-return-date-label{
  text-decoration: underline;
}

/* FOOTER */
#tokyo-tower{
  opacity: 0;
  position: absolute;
  top: 950px;
}
#merlion{
  opacity: 0;
  position: absolute;
  top:840px;
  left: 200px;
}
#santorini{
  opacity: 0;
  position: absolute;
  top:860px;
  left: 630px;
}
#ocean{
  opacity: 0;
  position: absolute;
  top:880px;
  left: 1050px;
}
#boracay{
  opacity: 0;
  position: absolute;
  top: 1000px;
  left: 400px;
}
#maldives{
  opacity: 0;
  position: absolute;
  top: 1000px;
  left: 800px;
}
